/* 

--- 01 TYPOGRAPHY SYSTEM
	-FONT SIZE SYSTEM (px):
	14 / 16 / 18 / 20 / 24 / 34 / 38 / 50 / 62 

  -FONT WEIGHTS:
   Regular: 400
   SemiBold: 600
   Bold: 700

  -LINE HEIGHTS:
   Default: 1
   Small: 1.1
   Medium: 1.2
   Big: 1.3
   ExtraBig: 1.4

  -LETTER SPACING:
   Small: -0.5px
   Medium: -1px
   Big: -2px 

--- 02 COLOURS
   Neutral:
    --neutral-900: #062630
    --neutral-700: #385159
    --neutral-200: #e6e1df
    --neutral-100: #faf5f3
    --neutral-0: #fff
   
    Light-Salmon:
     --light-salmon-500: #fea36f
     --light-salmon-100: #ffe2d1
     --light-salmon-50: #fff5ef
    
    Gradients:
		 --background-gradient: linear-gradient(var(--light-salmon-50), var(--neutral-100))
     --text-gradient: linear-gradient(107deg, #ff9a6D -11.37%, #062630 61.84%)
     --gradient: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%)

--- 05 SHADOWS
		
		 

--- 06 BORDER-RADIUS (px)
  0 / 4 / 6 / 8 / 10 / 12 / 16 / 20 / 24 / 999

--- 07 WHITESPACE
  -SPACING SYSTEM (px):
	0 / 2 / 4 / 6 / 8 / 12 / 16 / 20 / 24 / 32 / 40 / 48 / 64 / 80
*/

:root {
	--neutral-900: #062630;
	--neutral-700: #385159;
	--neutral-200: #e6e1df;
	--neutral-100: #faf5f3;
	--neutral-0: #fff;

	--light-salmon-500: #fea36f;
	--light-salmon-100: #ffe2d1;
	--light-salmon-50: #fff5ef;

	--background-gradient: linear-gradient(
		var(--light-salmon-50),
		var(--neutral-100)
	);
	--background-gradient-footer: linear-gradient(
		var(--neutral-900) 0%,
		var(--neutral-700) 100%
	);
	--text-gradient: linear-gradient(107deg, #ff9a6d -11.37%, #062630 61.84%);
	--gradient: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);
	--gradient-alternate: linear-gradient(
		90deg,
		var(--neutral-700) 0%,
		var(--neutral-900) 100%
	);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

/*******************************/
/* GENERAL REUSABLE COMPONENTS */
/*******************************/

/* .container {
	max-width: 130rem;
	margin: 0 auto;
	padding: 0 3.2rem;
} */

.grid {
	display: grid;
	column-gap: 8rem;
}

.grid--2-cols {
	grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
	grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
	grid-template-columns: repeat(4, 1fr);
}

.heading-primary {
	font-size: 6.2rem;
	line-height: 1.2;
	letter-spacing: -2px;
	font-weight: 700;
	font-family: 'Martian Mono', sans-serif;
	background-image: var(--text-gradient);
	color: transparent;
	background-clip: text;
}

.heading-secondary {
	font-size: 5rem;
	line-height: 1.2;
	letter-spacing: -2px;
	font-weight: 600;
	font-family: 'Martian Mono', sans-serif;
	color: var(--neutral-900);
}

.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	text-transform: uppercase;
	border-radius: 8px;
	padding: 2rem 2.4rem;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.6rem;
	cursor: pointer;
}

.btn img {
	width: 2.4rem;
	height: 2.4rem;
}

.btn--primary:link,
.btn--primary:visited {
	font-size: 1.8rem;
	font-family: 'Martian Mono', sans-serif;
	font-weight: 600;
	color: var(--neutral-900);
	border: 2px solid var(--neutral-900);
	background-color: var(--light-salmon-50);
	line-height: 1.3;
	letter-spacing: -1px;
}

.btn--primary:hover,
.btn--primary:active {
	background-image: var(--gradient);
}

.btn--alternate:link,
.btn--alternate:visited {
	color: var(--neutral-0);
	font-family: 'Martian Mono', sans-serif;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.3;
	letter-spacing: -1px;
	border: 2px solid var(--neutral-0);
}

.btn--alternate:hover,
.btn--alternate:active {
	background-image: var(--gradient-alternate);
}
