/************************/
/*     HERO SECTION     */
/************************/

.section-hero {
	background-image: url('../assets/images/pattern-light-bg.svg'),
		var(--background-gradient);
	padding: 3.2rem 13.5rem 8rem 13.5rem;
	margin-bottom: 12rem;
	position: relative;
	overflow: hidden;
}

.hero {
	max-width: 130rem;
	margin: 0 auto;
	padding: 0 3.2rem;
	display: flex;
	flex-direction: column;
	gap: 8rem;
}

.hero-text-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero-description {
	margin-top: 2.4rem;
	margin-bottom: 3.2rem;
	font-size: 2rem;
	line-height: 1.5;
	letter-spacing: -0.5px;
	font-family: 'Inter', sans-serif;
	color: var(--neutral-700);
}

.cta-hero {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: flex-start;
}

.hero-img {
	width: 100%;
	border-radius: 8px;
}

.developers-joined {
	display: flex;
	align-items: center;
	gap: 1.2rem;
}

.joined-imgs {
	height: 4rem;
}

.joined-box {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
}

.joined-stars img {
	height: 2.4rem;
	width: 2.4rem;
}

.joined-text {
	font-size: 1.4rem;
	line-height: 1.2;
	letter-spacing: -1px;
	font-family: 'Martian Mono', sans-serif;
	font-weight: 400;
}

.glow {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateX(25%);
	width: 68.4rem;
	opacity: 0.7;
}

/****************************/
/*     FEATURES SECTION     */
/****************************/

.section-features {
	padding: 0 13.5rem 0 13.5rem;
	margin-bottom: 12rem;
}

.features-img {
	width: 100%;
	border-radius: 20px;
}

.features-text-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3.4rem;
	padding: 0 3.2rem;
}

.features-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
}

.feature-item {
	display: flex;
	gap: 1.4rem;
	align-items: center;
	justify-content: flex-start;
}

.feature-item img {
	width: 2.8rem;
	height: 2.8rem;
}

.feature-item span {
	color: var(--neutral-700);
	font-size: 2rem;
	line-height: 1.1;
	letter-spacing: -1px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}

/******************************/
/*     TECHNOLOGY SECTION     */
/******************************/

.section-technology {
	padding: 0 13.5rem 0 13.5rem;
	margin-bottom: 12rem;
	position: relative;
}

.technology-text-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2.4rem;
}

.technology-text-box span {
	position: relative;
}

.technology-text-box span::after {
	display: block;
	content: url('../assets/images/pattern-circle.png');
	position: absolute;
	top: 0;
	right: -5%;
}

.technology-description {
	font-size: 2rem;
	line-height: 1.5;
	letter-spacing: -0.5px;
	font-family: 'Inter', sans-serif;
	color: var(--neutral-700);
}

.technology-img {
	width: 100%;
	border-radius: 20px;
}

.tech-icons {
	position: absolute;
	top: 70%;
	left: 47.2%;
}

.technology-img-box picture {
	position: relative;
	overflow-x: hidden;
}

.technology-img-box picture::after {
	display: block;
	content: url('../assets/images/logos-tech.svg');
	position: absolute;
	bottom: 5%;
	left: -15%;
	width: 40%;
}

/******************************/
/*     	JOURNEY SECTION	      */
/******************************/

.section-journey {
	padding: 0 13.5rem 0 13.5rem;
	margin-bottom: 12rem;
}

.journey {
	max-width: 130rem;
	margin: 0 auto;
	background-image: url('../assets/images/pattern-light-bg.svg'),
		var(--background-gradient);
	display: flex;
	flex-direction: column;
	padding: 8rem 0;
	gap: 6.4rem;
	align-items: center;
	position: relative;
	border-radius: 12px;
	overflow: hidden;
}

.journey h2 {
	text-align: center;
}

.step-container {
	display: grid;
	gap: 4.8rem;
	justify-content: center;
	padding: 0 3.2rem;
}

.step {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	max-width: 22.65rem;
}

.step p {
	font-family: 'Martian Mono', sans-serif;
	font-size: 1.8rem;
	line-height: 1.3;
	letter-spacing: -1px;
	font-weight: 600;
}

.number {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.number p {
	font-size: 1.8rem;
	line-height: 1.3;
	letter-spacing: -1px;
	font-family: 'Martian Mono', sans-serif;
	font-weight: 600;
	border: 2px solid var(--neutral-900);
	height: 4rem;
	width: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
}

.hide {
	opacity: 0;
}

.journey-glow {
	position: absolute;
	top: 15%;
	right: -15%;
	width: 68.4rem;
	z-index: 1;
	opacity: 0.7;
}

/**********************************/
/*     	MEMBERSHIP SECTION	      */
/**********************************/

.section-membership {
	padding: 0 13.5rem 0 13.5rem;
	margin-bottom: 12rem;
	display: flex;
	flex-direction: column;
	gap: 6.4rem;
	align-items: center;
}

.options-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 2.4rem;
}

.option {
	padding: 2.4rem;
	border: 1px solid var(--neutral-200);
	border-radius: 8px;
}

.divider {
	border: none;
	height: 1px;
	background-color: var(--neutral-200);
}

.option-name {
	font-size: 2.4rem;
	font-weight: 600;
	line-height: 1.1;
	letter-spacing: -1px;
	font-family: 'Martian Mono', sans-serif;
	color: var(--neutral-900);
	margin-bottom: 2.4rem;
}

.option-price {
	font-size: 3.4rem;
	font-family: 'Martian Mono', sans-serif;
	font-weight: 600;
	line-height: 1.3;
	letter-spacing: -2px;
	color: var(--neutral-900);
	display: flex;
	align-items: center;
	gap: 0.8rem;
	margin-bottom: 2.4rem;
}

.option-price span {
	color: var(--neutral-700);
	font-family: 'Inter', sans-serif;
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: -0.5px;
}

.option-list {
	list-style: none;
	margin: 2.4rem 0;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}

.option-list-item {
	display: flex;
	gap: 1.2rem;
	align-items: center;
}

.option-list-item img {
	height: 2.4rem;
	width: 2.4rem;
}

.option-list-item span {
	color: var(--neutral-700);
	font-size: 2rem;
	line-height: 1.4;
	letter-spacing: -0.5px;
	font-family: 'Inter', sans-serif;
}

.highlight {
	background-color: var(--neutral-100);
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.highlight .btn {
	z-index: 2;
}

.highlight::after {
	content: url('../assets/images/pattern-glow.svg');
	display: block;
	position: absolute;
	top: 0;
	left: -80%;
	z-index: -1;
	opacity: 0.7;
}

/**********************************/
/*     	TESTIMONIAL SECTION	      */
/**********************************/

.section-testimonial {
	padding: 0 13.5rem 0 13.5rem;
	margin-bottom: 12rem;
}

.testimonial {
	max-width: 97rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 3.2rem;
	align-items: center;
	justify-content: center;
}

.rating-container {
	display: flex;
	gap: 6px;
}

.rating-container img {
	height: 2.8rem;
	width: 2.8rem;
}

.testimonial-content {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	gap: 3.2rem;
}

.testimonial-text {
	font-size: 3.4rem;
	line-height: 1.3;
	letter-spacing: -1px;
	font-weight: 600;
	font-family: 'Martian Mono', sans-serif;
	color: var(--neutral-900);
}

.author-info {
	font-size: 2rem;
	line-height: 1.4;
	letter-spacing: -0.5px;
	font-weight: 400;
	font-family: 'Inter', sans-serif;
	color: var(--neutral-700);
}

/******************************/
/*     	FOOTER SECTION	      */
/******************************/

.footer {
	background-image: url('../assets/images/pattern-dark-bg.svg');
	background-color: var(--neutral-900);
	text-align: center;
	padding: 8rem 13.5rem 0 13.5rem;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	display: flex;
	flex-direction: column;
	gap: 6.4rem;
}

.main-content {
	max-width: 75.3rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.main-content h2 {
	color: var(--neutral-100);
}

.cta-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.4rem;
}

.joined-text-white {
	color: var(--neutral-0);
}

.footer-content {
	max-width: 130rem;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid var(--neutral-700);
	padding: 2.4rem 0;
	width: 100%;
	margin: 0 auto;
}

.footer-text {
	font-family: 'Martian Mono', sans-serif;
	font-size: 1.4rem;
	line-height: 1.2;
	letter-spacing: -1px;
	font-weight: 400;
	color: var(--neutral-0);
}

.footer-icons {
	display: flex;
	gap: 2.4rem;
}

.footer-icons img {
	height: 2.2rem;
	width: 2.2rem;
}
