/************************/
/*     HERO SECTION     */
/************************/

.section-hero {
	background-image: url('../assets/images/pattern-light-bg.svg');
	padding: 3.2rem 0 8rem 0;
	position: relative;
	overflow: hidden;
}

.hero {
	max-width: 130rem;
	margin: 0 auto;
	padding: 0 3.2rem;
	display: flex;
	flex-direction: column;
	gap: 8rem;
}

.hero-text-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero-description {
	margin-top: 2.4rem;
	margin-bottom: 3.2rem;
	font-size: 2rem;
	line-height: 1.1;
	letter-spacing: -1px;
	font-family: 'Inter', sans-serif;
	color: var(--neutral-700);
}

.cta-hero {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: flex-start;
}

.hero-img {
	width: 100%;
	border-radius: 8px;
}

.developers-joined {
	display: flex;
	align-items: center;
	gap: 0.4rem;
}

.testimonial-imgs {
	height: 4rem;
}

.testimonial-box {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.testimonial-text {
	font-size: 1.4rem;
	line-height: 1.2;
	letter-spacing: -1px;
	font-family: 'Martian Mono', sans-serif;
	font-weight: 400;
}

.glow {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateX(25%);
	width: 68.4rem;
	z-index: -1;
	opacity: 0.7;
}

/****************************/
/*     FEATURES SECTION     */
/****************************/

.section-features {
	padding: 13.5rem 0 13.5rem 0;
}

.features-img {
	width: 100%;
	border-radius: 20px;
}

.features-text-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3.4rem;
	padding: 0 3.2rem;
}

.features-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
}

.feature-item {
	display: flex;
	gap: 1.4rem;
	align-items: center;
	justify-content: flex-start;
}

.feature-item img {
	width: 2.8rem;
	height: 2.8rem;
}

.feature-item span {
	color: var(--neutral-700);
	font-size: 2rem;
	line-height: 1.1;
	letter-spacing: -1px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}
